.cart__line_main {
  align-items: end;
  border-bottom: 1px dashed #9c9c9fe3;
  padding-bottom: 10px;
  height: 30px;
  display: none;
}
@media only screen and (max-width: 768px) {
  .cart__line_main {
    display: none;
    visibility: hidden;
    position: absolute;
  }
}
