.header__work-time {
  position: relative;
  padding-left: 40px;
  font-size: 26px;
  color: #434343;
  line-height: initial;
  grid-area: work-time;
}
.header__work-time:before {
  content: '';
  position: absolute;
  background-image: url(../../../images/clock-icon.svg);
  top: 2px;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
}
@media only screen and (max-width: 877px) {
  .header__work-time {
    display: none;
  }
}
