.cart__product-trash {
  margin: 0;
  padding: 0;
  height: 42px;
  width: 42px;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  border: none;
  transition: 0.2s all;
  align-self: center;
  cursor: pointer;
}
.cart__product-trash:hover {
  background-color: #d4d4dd;
}
@media screen and (max-width: 768px) {
  .cart__product-trash {
    grid-area: trash;
    height: auto;
    grid-template-columns: 16% 60% 16%;
    grid-template-rows: 70px 50px;
    grid-template-areas:
      "product product trash"
      "price quantity cost";
    padding: 7px 0 5px 0;
  }
}
