.page__container_image {
  border-radius: 0;
  height: auto;
  padding: 0;
  flex-direction: column;
  color: white;
  background-color: black;
}
.page__container_image .popup-image {
  object-fit: cover;
  width: 100%;
  max-height: 750px;
}
