.cart__line-product {
  display: grid;
  grid-template-columns: minmax(40px, 80px) minmax(auto, 320px);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-template-areas:
    "img title"
    "img weight";
  align-items: center;
  row-gap: 8px;
  column-gap: 12px;
}
@media only screen and (max-width: 768px) {
  .cart__line-product {
    grid-area: product;
    grid-template-columns: 20% 80%;
    width: 100%;
  }
}
