.cart__product-text_price {
}
@media only screen and (max-width: 768px) {
  .cart__product-text_price {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    grid-area: price;
    padding: 0 5px 0 5px;
    white-space: nowrap;
  }
  .cart__product-text_price::after {
    content: " ₽/шт";
    font-size: 10px;
    font-weight: 200;
  }
}
