.product__button {
  outline: none;
  border: none;
  border-radius: 9999px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  min-width: 100px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffe6007e;
  color: #d15700;
  margin-left: 20px;
}
.product__button:hover {
  background-color: #eed603;
  color: #a74702;
}
@media only screen and (max-width: 600px) {
  .product__button {
    margin-left: 0px;
    font-size: 14px;
    line-height: 16px;
  
  }
}
