.product-popular__price {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 4px;
  font-weight: 500;
}
@media screen and (max-width: 471px) {
  .product-popular__price {
    font-size: 12px;
  }
}
