.form__submit-btn {
  background-color: #4caf50;;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 250px;
}
.form__submit-btn:hover {
  opacity: .8;
}
@media screen and (max-width: 768px) {
  .form__submit-btn {
    margin-top: 16px;
    font-size: 14px;
    line-height: 18px;
  }
}
