.product-popular__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  translate: 0px 0;
  transition: translate 0.5s ease-in-out;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}
@media only screen and (max-width: 600px) {
  .product-popular__container {
    overflow-x: auto;
  }
  .product-popular__container::-webkit-scrollbar {
    height: 0;
  }
}
