.product__title {
  margin: 8px 0px 8px 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  grid-area: title;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .product__title {
    white-space: normal;
    line-height: 26px;
  }
}
