.popup-product__title {
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  grid-area: title;
  justify-self: start;
}
@media screen and (max-height: 560px) {
  .popup-product__title {
    font-size: 14px;
    font-size: 5vw;
  }
}
