.cart__order-btn {
    align-self: center;
    background-color: #4caf50;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.cart__order-btn:hover {
    background-color: #4caf4fc5;
    scale: 1.05;
}