/* модальные окна */
.popup {
    /* Скрываем подложку  */
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: visibility .3s,opacity .3s linear;
  }
  